#right {
    width: 75%;
    float: right;
}

.menu {

    width: auto; 
    line-height: 1.6;
    font-size: large;
    text-align: center; 
    float: left;
    list-style-type: none;
    text-decoration: none;
}

.menu li a {
    background-color: var(--gold); /* Yellow background */
    cursor: pointer; /* Changes the cursor when moused over. */
    color: var(--blue); /* Dark blue text */
    padding: 0.5em;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    border: none;
    display: block;
    transition: background-color 0.3s; /* Smooth background color transition on hover */
    /* margin: 0 auto; Centered on the screen */
    text-align: center; /* Center the text */
    text-decoration: none;
}

.menu li a:hover {
    background-color: var(--hover-gold); /* Darker yellow on hover */

}

.menu li form button {
    background-color: var(--gold); /* Yellow background */
    cursor: pointer; /* Changes the cursor when moused over. */
    color: var(--blue); /* Dark blue text */
    width: 100%;
    height: 100%;
    padding: 0.5em;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    border: none;
    display: block;
    transition: background-color 0.3s; /* Smooth background color transition on hover */
    line-height: 1.6;
    font-size: large;
    text-align: center; 
    /* margin: 0 auto; Centered on the screen */
    text-align: center; /* Center the text */
}

.menu li form button:hover {
    background-color: var(--hover-gold); /* Darker yellow on hover */
}