/* Accordion styles */
.accordion {
    background-color: #c2c2c2; /* Gray background */
    color: var(--blue);
    border-bottom: 2px solid;
    padding: 10px 20px;
    display: block;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 100%; /* Make it full width */
    text-align: left;
    outline: none;
}

/* Active or hover states */
.accordion.active,
.accordion:hover {
    background-color: var(--hover-gold);
}

/* Panel content */
.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    width: 100%; /* Full width within container */
}

/* Subcontainer left */
.subcontainerL {
    width: 40%;
    margin-left: 3%;
    display: inline-block;
    /* Or consider flex if needed */
}

/* Subcontainer right */
.subcontainerR {
    margin-left: auto;
    margin-top: 2%;
    width: 50%;
    margin-right: 3%;
    transform: translate(-50%, -50%);
    display: inline-block; /* or Flexbox for layout */
}

/* Consider adding responsiveness */
@media(max-width: 768px) {
    .subcontainerL,
    .subcontainerR {
        width: 100%;
        margin-left: 0;
        margin-top: 1em;
        transform: none;
    }
}