#create {
    width: 50%;
    
    margin: 2em;
}




#id_title, #id_firstName, #id_lastName, #id_location, #id_content, #id_submit {
    margin: 1em;
    border: 0;
    outline: 0;
    padding: 1em;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    display: block;
    width: 100%;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    resize: none;
    box-sizing: border-box;
}

/* #id_content {

} */

#scroll-box {
    height: 280px;
    width: 100%;
    overflow: auto;
    margin-top: 1em;
    margin-bottom: 1em;
}

/* This is the ID for the DIV that contains every tag. */
#id_tags {
    width: 100%;
    overflow: hidden;
    float: left;
}

/* This focuses on every label object within the above DIV. */
#id_tags label {
    width: 100%;
    height: 3.0em;
    float: left;
}

/* This focuses on every span object within the above labels. */
#id_tags label span {
    text-align: center;
    padding: 3px 0;
    display: block;
}

/* This focuses on every input object within the above labels. */
#id_tags label input {
    position: absolute;
    display: none;
    color: var(--blue) !important;
}

/* This focuses on every input and span object within the above labels. */
#id_tags label input + span {
    color: var(--blue);
    transition: background-color 0.3s;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    margin: 4px;

}

/* This focuses on every input and hovered span object within the above labels. */
#id_tags input + span:hover {
    background-color: var(--hover-gold);
}

/* This focuses on every checked input and span object within the above labels. */
#id_tags input:checked + span {
    color: var(--blue);
    /* text-shadow: 0 0  6px rgba(0, 0, 0, 0.8); */
    background-color: var(--gold);
}