.content {
    margin: auto;
}

.wrapper {
    min-width: 30%;
    max-width: 20%;
    margin: 0% 35% 0% 30%;
}

.full-page {
    display: flex;
    flex-direction: column; /* Stack containers vertically */
    justify-content: center; /* Vertically center the content */
    align-items: center; /* Horizontally center the content */
    padding: 20px; /* Add padding around the containers */
    box-sizing: border-box;
  }

  .container {
    width: 75%;
    margin-right: 50%;
    max-width: 1200px; /* Prevent the container from getting too wide */
    max-height: 300px;
    box-sizing: border-box; /* Ensure padding doesn't affect container width */
    margin-bottom: 20px; /* Add space between containers */
  }

  
.button_CCCC {
    margin-top: 100px;
}

.editPro {
    margin-left: 50%;
    border: none;
    margin-top: 20px;
    background-color: #f3c10d;
    border-radius: 5px;
    font-weight: large;
    padding: 10px
}

.editPro:hover {
    background-color: orange;
    cursor: pointer;

}