.content {
    margin: auto;
}

.wrapper {
    min-width: 30%;
    max-width: 20%;
    margin: 0% 35% 0% 30%;
}




  
.button_CCCC {
    margin-top: 100px;
    width:100%;
}

.editPro {
    margin-left: 50%;
    border: none;
    margin-top: 20px;
    background-color: #f3c10d;
    border-radius: 5px;
    font-weight: large;
    padding: 10px
}

.editPro:hover {
    background-color: orange;
    cursor: pointer;

}