.env
cccSite/.env

cccSite/report.html
cccSite/reports/

*.pyc

.venv/

*.DS_Store
<<<<<<<<< Temporary merge branch 1
.DS_Store
=========
.DS_Store

*.sqlite3
cccSite/db.sqlite3
>>>>>>>>> Temporary merge branch 2
