{%extends "base/base.html"%}
{%block head%}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'Janitor/accordian.css' %}">
<title>Chesapeake Community Connect - Admin</title>
{%endblock head%}
{% block content %}
<div class="body">  
  {%if rank > 2%}
  <nav role="navigation" aria-label="Admin Navigation">
    <ul style="position:fixed;width: 15%;">
        <li><a class="button_CCC" href="{%url 'Janitor:forumList' %}" aria-label="Approve Forms">Approve Forums</a></li>
        <li><a class="button_CCC" href="{%url 'Janitor:tagList' %}" aria-label="Manage Tags">Manage Tags</a></li>
        <li><a class="button_CCC" href="{% url 'Janitor:reportList' %}" aria-label="View Reports">Reports</a></li>
        <li><a class="button_CCC" href="{% url 'Janitor:messageList'%}" aria-label="View Contact Requests">Contact Requests</a></li>
        {%if rank == 99%}<li><a class="button_CCC" href="{% url 'Janitor:memberList'%}" aria-label="Manage Users">Manage Users</a></li>{%endif%}
        <li><a class="button_CCC" href="#about" aria-label="Export Data">Export Data</a></li>
    </ul>
  {%endif%}
  {%if rank > 2%}
  <div style="margin-left:15%;padding:1px 16px;">
    {%block adminFunc%} Welcome to the admin interface. {% endblock adminFunc %}
  </div>
  {%else%}
    You do not have permission to access this page.
  {%endif%}
</div>
<script>
  // Script for smooth accordions
  var acc = document.getElementsByClassName("accordion");
  var i;
  for (i = 0; i < acc.length; i++) {
      acc[i].addEventListener("click", function () {
          this.classList.toggle("active");
          var panel = this.nextElementSibling;
          if (panel.style.maxHeight) {
              panel.style.maxHeight = null;
          } else {
              panel.style.maxHeight = panel.scrollHeight + "px";
          }
      });
  }

</script>
{% endblock content %}
