{%extends "base/base.html"%}
{%block head%}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'Janitor/accordian.css' %}">
<title>Chesapeake Community Connect - Admin</title>
{%endblock head%}
{% block content %}
<div class="body">  
    {%if rank > 1%}
    <ul style="position:fixed;width: 15%;">
        <li><a class="button" href="#home">Approve Posts</a></li>
        <li><a class="button" href="#about">Manage Tags</a></li>
        <li><a class="button" href="#news">Reports</a></li>
        <li><a class="button" href="{% url 'Janitor:messageList'%}">Contact Requests</a></li>
        {%if rank == 99%}<li><a class="button" href="{% url 'Janitor:memberList'%}">Manage Users</a></li>{%endif%}
        <li><a class="button" href="#about">Export Data</a></li>
    </ul>
    {%endif%}
  {%if rank > 1%}
  <div style="margin-left:15%;padding:1px 16px;">
    {%block adminFunc%} Welcome to the admin interface. {% endblock adminFunc %}
  </div>
  {%else%}
    You do not have permission to access this page.
  {%endif%}
</div>
<script>
  // Script for smooth accordions
  var acc = document.getElementsByClassName("accordion");
  var i;
  for (i = 0; i < acc.length; i++) {
      acc[i].addEventListener("click", function () {
          this.classList.toggle("active");
          var panel = this.nextElementSibling;
          if (panel.style.maxHeight) {
              panel.style.maxHeight = null;
          } else {
              panel.style.maxHeight = panel.scrollHeight + "px";
          }
      });
  }

</script>
{% endblock content %}
