{%extends "Janitor/AdminBase.html"%}

{% block adminFunc %}
{{msg}}
<form action="{% url 'Janitor:tagList'%}"  method="post">
    {% csrf_token %}
    {{addForm.as_p}}
    <input type="hidden" name= "addTag" value="">
    <input type="submit" value="Add Tag">
</form>
<form action="{% url 'Janitor:tagList'%}"  method="post">
    {% csrf_token %}
    {{delForm.as_p}}
    <input type="hidden" name= "delTag" value="">
    <input type="submit" value="Delete Selected">
</form>
{% endblock adminFunc %}
