{% extends "account/accountBase.html" %}
{% load static %}



{% block accountFunc %}
<div id="content" class="body">
    <h1>Chesapeake Community Connect</h1>
    <form action = "{% url 'account:account_list' %}" method= 'GET'>
        {{search.as_p}}
        <input type="submit" id="search-btn" class="button" value="Submit">
    </form>
    {%for item in users %}
    <ul>                         
        <li><a href="{{item.get_absolute_url}}">{{ item.name }}</a> {{item.num_posts}} Posts
         </li>                      
     </ul> 
    {%endfor%}
    
</div>

{% endblock accountFunc %}
