{%extends "account/accountBase.html"%}

{% block accountFunc %}
<script defer> 
    let autocomplete;
    async function initAutocomplete(){
        autocomplete = new google.maps.places.Autocomplete(document.getElementById('id_location'), {
            fields: ["address_components"],
        });
    }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBKcBxdWnx-AIYQfA-NQKUR1cRXeF9fAiI&libraries=places&callback=initAutocomplete" defer></script>

<!--loads the form with line breaks between entries. posts to the URL titled manage in the account app's URL config-->
<div id="content">
    <div class="container">
        <form action="{% url 'account:create_post'%}" method="post" enctype="multipart/form-data">
            {%csrf_token%}
            {{form.as_p}}
    
            <input class="submitB" type="submit" value="Submit">
        </form>
    </div>
  
</div>
{% endblock accountFunc %}