{%extends "base/base.html"%}
{%block head%} 
<script src="https://accounts.google.com/gsi/client" async></script>
<title>Chesapeake Community Connect - Account</title>
{%endblock head%}
{% block content %}
<div id="content">
    You have been signed out.
</div>
<div id="g_id_onload"
     data-client_id="316865720473-94ccs1oka6ev4kmlv5ii261dirvjkja0.apps.googleusercontent.com"
     data-context="signin"
     data-ux_mode="popup"
     data-login_uri="http://localhost:8080/account/auth/"
     data-auto_prompt="false">
</div>

<div class="g_id_signin"
     data-type="standard"
     data-shape="rectangular"
     data-theme="outline"
     data-text="signin"
     data-size="large"
     data-logo_alignment="left">{
</div>

{% endblock content %}