{%extends "base/base.html"%}
{%block head%} 
<script src="https://accounts.google.com/gsi/client" async></script>
<title>Chesapeake Community Connect - Sign In</title>
{%endblock head%}
{% block content %}
<div class="body" id="content">
     <div id="g_id_onload"
          data-client_id="316865720473-94ccs1oka6ev4kmlv5ii261dirvjkja0.apps.googleusercontent.com"
          data-context="signin"
          data-ux_mode="popup"
          data-login_uri="http://localhost:8080/account/authG/"
          data-auto_prompt="false">
     </div>
     <div class="column left">
          <h1 style="background-color:#f3c10d;color:#00205c;">
               Hello!
          </h1>
          <div class="g_id_signin"
               data-type="standard"
               data-shape="rectangular"
               data-theme="outline"
               data-text="signin"
               data-size="large"
               data-logo_alignment="left"
               style="width:50%;margin:auto;padding:10px;">
          </div>
     </div>
     <div class="column right" style="width:50%;">
          <h1 style="background-color:#f3c10d;color:#00205c;">What it means to be a Contributor</h1>
          <p>
               Labore vel odit sint est omnis ea esse esse. Et voluptate occaecati sequi. Et sed cum explicabo quaerat aut. Atque qui placeat vitae delectus eaque similique. Eum quis quia ut delectus est earum sint ex. Qui cumque corrupti et et ullam dolorum ea. Minima ut iste ut. Similique explicabo amet repellat. Ipsa deserunt in similique animi aperiam consectetur. Unde itaque sint cumque incidunt nihil optio ea. Molestiae aut quam quasi omnis. Molestiae delectus doloribus reprehenderit aut suscipit. Quae inventore enim quod non non est. Recusandae vel omnis maiores. Debitis autem hic ipsam illo dicta quis. Rerum dolor quidem eos alias est quia deleniti. Recusandae doloremque eaque id ab suscipit exercitationem ducimus dignissimos. Quos consequuntur molestiae aperiam distinctio consequatur cupiditate incidunt est. Ducimus qui sunt a. Quae sunt odio soluta reiciendis.
          </p>     
     </div>
</div>
{% endblock content %}