{%extends "account/accountBase.html"%}
{% load static %}
{% block accountFunc %}
<!--loads user's info from provided dictionary-->

{%if rank == 99%}
<a class="button" href="{{user.get_admin_url}}">Manage User</a>
{%endif%}
<link rel="stylesheet" type="text/css" href="{% static 'account/single_account.css' %}">
{{msg}}
<br>
<form action="{{ request.build_absolute_uri }}" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Send Report" id="input-submit">
</form>

<div class="content">
<div class ="containerOuter">
    <div class="wrapper">
        <div class="imgWrapper">
            <li><img class="proPic" src="{{ user.pic.url }}" alt="Uploaded Image" height="150" width="150"></li>
        </div>
        <div class="inWrapper">
            {{user.name}}
            <br>
            {{user.email}}
            <br>


        </div>

        <div class="description">
            {%if user.about != ""%}
            <br>
                {{user.about}}
            {%endif%}
        </div>



    {{user.name}}'s Forums:
</div>

   
    {%for item in forums%}
    <br>
    <div class ="container">

        <div class ="singleP">
    {{item.title}}: {{item.description}} 
    
    <div class = "buttonC">
        <button class="editPro" id="edit-account" 
        onclick="window.location.href='{{item.get_absolute_url}}';">
            View Forum</button>
    </div>
        </div>
   
    </div>
    {%endfor%}

    <!--forums to the URL titled signout in the account app's URL config-->
</div>
</div>


{% endblock accountFunc %}