body {
    /*! font-family: 'Baskerville'; Delete*/
    background-color: #f3f3f3; /* Grey background */
    width: 100%;


}

.containerM1 {
    /*Div styling for head banner*/
    margin: 0px 17px 0px auto;
    padding-bottom: 20px;
    width: 90%;
    align-items: center;

}

.wrapperM1 {
    padding: 10px;
    width: 90%;
    border-radius: 5px;
}

.headerM1 {
    /*Styling for header*/
    text-align: center;
    align-items: center;
    background-color: #f3c10d;
    color: #00205c;
    border-radius: 10px;
}


.mapholder {
    /*Outer div for map and searh map divs*/
    margin-left: 3%;
    width:90%;
    padding: 10px;
    margin-bottom: 20px;
    height: 350px;
}

.containerML {
    /*Div for map*/
    width: 50%;
    margin-right: 0%;
    margin-left: 9%;
}

.containerMR {
    /*Div for Search Post section*/
    border-radius: 10px;
    height: 400px;
    width:40%;
    float: right;
    margin-right: 0%;
    font-weight: bold;
    margin-left: 5%;
    

}

#map {
    /*Map icon styling*/
    border-radius: 10px;
    height: 400px;
    width: 50%;
    margin-bottom: 10px;
    float: left;
    margin-left: 50 px;

}

.containerM4 {
    /*Div for create post*/
    margin-top: 5%;
    width: 100%;
}

#add-marker-form {
    background-color: #f3f3f3;
    /* Grey background */
    display: none;
    box-shadow: none;
    border: none;
    width: 70%;
}



#search-text {
    margin-top: auto;
    margin-right: 20px;
    width: 45%;
}

#search-button {
    margin-top: auto;
    width: 40%;
}

#search-button:hover {
    background-color: orange;
    /*! font-family: 'Baskerville'; */
}



.searchBtn {
    font-weight: bold;
}

/*Div for create a post address boxes styling*/
.lefthalf {
    float: left;
    width: 450px;
}

/*Div for description box styling*/
.righthalf {
    margin-top: 20px;
    width: 95%;
    float: right;
}


#description {
    width: 100%;
    float: right;
    height: auto;
}

/*styling for input boxes*/
input {
    box-shadow: 10px;
    border-style: none;
    border-radius: 8px;
    /*! font-family: 'Baskerville'; */
    padding: 1em;
    margin: 2px;
    margin-bottom: 5px;
    width: 50%;
    float: left;

}

/*styling for description box*/
textarea {
    resize: none;
    border-style: none;
    border-radius: 8px;
    /*! font-family: 'Baskerville'; */
    padding: 1em;
    width: 100%;
    height: 40px;
    box-shadow: 10px;
    float: right;


}

/*styling post button div*/
.postDiv {
    margin-top: 100px;
    margin: auto;
    width: 70%;
    border-radius: 8px;

}

/*styling for hovering on all buttons*/
button:hover {
    padding: 5px;
    /*! font-family: Arial, Helvetica, sans-serif; */
}

/*styling for post div button*/
.postDivB {
    width: 100%;
    border-radius: 4px;
    margin: auto;
    margin-top: 20px;
    border-style: none;
    background-color: #f3c10d;
    padding: 10x;
    font-size: medium;
    padding: 5px;
    /*! font-family: 'Baskerville'; */

}

/*styling for hovering on post button*/
.postDivB:hover {
    /*! font-family: 'Baskerville'; */
    padding: 5px;
    cursor: pointer;
    background-color: orange;

}