/* This is the ID for the DIV that the search form fits inside of. It takes up the right half of the page. */
#search { /*? Change to right? */
    width: 25%;
    float: right;
    margin-top: 2em;
    margin-right: 2em;
    /* height: 400px; */
}

/* This is the ID of the DIV that the map fits inside of. It takes up the left half of the page. */
#left {
    width: 70%;
    float: left;
    margin-top: 2em;
    margin-left: 2em;
}

/* This is the ID for the map DIV. */
#map {
    /*Map icon styling*/
    border-radius: 10px;
    height: 400px;
}

/* Removes blue outline when selecting the map. */
.gm-style iframe + div { border:none!important; }

/* This is the ID for the tag scroll box. */
#scroll-box {
    height: 280px;
    width: 100%;
    overflow: auto;
    margin-top: 1em;
    margin-bottom: 1em;
}

/* This is the ID for the DIV that contains every tag. */
#id_t {
    width: 100%;
    overflow: hidden;
    float: left;
}

/* This focuses on every label object within the above DIV. */
#id_t label {
    width: 100%;
    height: 3.0em;
    float: left;
}

/* This focuses on every span object within the above labels. */
#id_t label span {
    text-align: center;
    padding: 3px 0;
    display: block;
}

/* This focuses on every input object within the above labels. */
#id_t label input {
    position: absolute;
    display: none;
    color: var(--blue) !important;
}

/* This focuses on every input and span object within the above labels. */
#id_t label input + span {
    color: var(--blue);
    transition: background-color 0.3s;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    margin: 4px;

}

/* This focuses on every input and hovered span object within the above labels. */
#id_t input + span:hover {
    background-color: var(--hover-gold);
}

/* This focuses on every checked input and span object within the above labels. */
#id_t input:checked + span {
    color: var(--blue);
    /* text-shadow: 0 0  6px rgba(0, 0, 0, 0.8); */
    background-color: var(--gold);
}

/* This focuses on every form object within the search DIV. */
#search form {
    float: right;
    width: 90%;
    min-width: auto;
}

/* This focuses on every input of type text within the entire page. */
input[type=text] { /*? Maybe move to basestyles.css. */
    border: 0;
    outline: 0;
    padding: 1em;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    display: block;
    width: 100%;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    resize: none;
    box-sizing: border-box; /* Add this line */
}

/* This is the ID for the search button. */
#search-btn {
    padding: 1em;
    width: 100%;
    float: left;
}


  