{%extends "base/base.html"%}
{%block head%} 
{% load static %}

<script src="https://accounts.google.com/gsi/client" async></script>
<link rel="stylesheet" type="text/css" href="{% static 'base/aboutstyle.css' %}">
<title>Chesapeake Community Connect - About</title>
{%endblock head%}
{% block content %}
<div id="content">
</div>

<body class="aboutBody">
      <div class="header">
            <img src="{%static 'base/assets/about_smcm.png' %}" alt="SMCM Logo" id="pic1">
        </div>
    <div id="content">
      
        <div class="container">
            <h4>
                Software Startup Simulator Captsone
            </h4>
            <div class="wrapper">
                <p>
                    The Software Startup Simulator Captsone is a unique opportunity for students in the Computer Science
                    Department to participate in a real-world development project that gives participants a
                    corporate-like
                    experience, by working within specialized teams to create a software application in hopes of
                    assisting
                    local businesses in their application development needs.

                </p>
            </div>
        </div>
        <div class="containerR">
            <h4>
                About the QA Team
            </h4>
            <div class="wrapper">
                <p>
                    The Software Startup Simulator Captsone is a unique opportunity for students in the Computer Science
                    Department to participate in a real-world development project that gives participants a
                    corporate-like
                    experience, by working within specialized teams to create a software application in hopes of
                    assisting
                    local businesses in their application development needs.

                </p>
            </div>
        </div>
        <div class="header">
            <img src="{%static 'base/assets/rndhead.png' %}" alt="rnd pic1" id="pic14">
        </div>
        <div class="containerL">
           
            <h4>
                About the R & D Team
            </h4>
            <div class="wrapper">
                <p>
                    The Software Startup Simulator Captsone is a unique opportunity for students in the Computer Science
                    Department to participate in a real-world development project that gives participants a
                    corporate-like
                    experience, by working within specialized teams to create a software application in hopes of
                    assisting
                    local businesses in their application development needs.

                </p>
            </div>
        </div>

    </div>
</body>
{% endblock content %}