{% extends "base/base.html" %}
{% load static %}
{% block head %} 
<title>Chesapeake Community Connect - Contact</title>
{% endblock head %}
{% block content %}
<div id="content">
    <div id="show-contact-form-button" onclick="showContactForm()" style="display: block;">Contact Us</div>
        {% include 'boiler/contact_form.html' %}
</div>

<script>
    function showContactForm() {
        const contactForm = document.getElementById("contact-form");
        contactForm.style.display = "block";
        const contactButton = document.getElementById("show-contact-form-button");
        contactButton.style.display = "none";
    }
</script>
{% endblock content %}
