asgiref==3.8.1
cachetools==5.5.1
certifi==2024.12.14
charset-normalizer==3.4.1
Django==4.2.19
google-auth==2.38.0
idna==3.10
Pillow==10.4.0
pyasn1==0.6.1
pyasn1-modules==0.4.1
requests==2.32.3
rsa==4.9
sqlparse==0.5.3
urllib3==2.2.3
