{% extends "base/base.html" %}
{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'mapViewer/mappagestyle.css' %}">
<title>Chesapeake Community Connect - Map</title>

<!--the defer guarantees that 
    a) the HTML loads pre JS execution so elements referenced in the script exist
    b) the API script is executed AFTER our script file is loaded and so the callback function works
    c) the widgets are rendered such that our script file can access them
-->
<script src="{% static 'mapViewer/map-script2.js' %}" defer></script>
{{widgets|json_script}}
<script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAH_5F4XRcZh8_OZib8cUD-DoE7ust60lc&libraries=places&callback=initMap" defer></script>

{% endblock head %}

{% block content %}
    <!-- Map Section -->
    <div id="left">
        <div id="map"></div>
        <div class="containerDistance">
            <br>
            <h2 style="clear: both;">Calculate Distance</h2>
            <label for="user-address"> Location to Visit:</label>
            <input type="text" id="user-address" placeholder="Enter your address">
            <button id="calculate-distance">Calculate Distance</button>
            <!-- Display Distance and Time -->
            <div id="distance-time"></div>
        </div>
    </div>


    <!--TODO This is out of date, needs to be moved. -->
    <!-- <div id="create" class="tabcontent">
        {%if hasPosted %}
        Congrats it posted.
        {%elif rank > 0%}
        <div class="body">
            <form action="{% url 'mapViewer:default'%}"  method="post">
                {% csrf_token %}
                {{postForm.as_p}}
                <input type="submit" value="Submit" id="input-submit">
            </form>
        </div>
        {%else%}
        You don't have permission.
        {%endif%}
    </div> -->


    <div id="search">
        <form action="{% url 'mapViewer:default' %}" id="contact-form" method="get">
            {{searchForm.q}}
            <div id="scroll-box">
                {{searchForm.t}}
            </div>
            <input type="submit" id="search-btn" class="button" value="Submit">
        </form>
        <!-- Distance Calculation Form -->
    </div>
    
{% endblock content %}