<!-- post_template.html -->
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css">

</head>
<body>
    <div class="post">
        <h2 class="post-title has-text-dark has-text-weight-bold"><a href="{{post.forum.pk}}/post/{{post.pk}}/" style="text-decoration: none; color: inherit;">{{ post.title }}</h2>
        <p class="post-author mx-3">Posted by: {{ post.author }}</p>
        <div class="post-content mx-5">
            {{ post.content }}
        </div>
    </div>
</body>
</html>