{% extends "base/base.html" %}
{% load static %}

{% block head %}
<title>Chesapeake Community Connect - Map</title>
<link rel="stylesheet" type="text/css" href="{% static 'mapViewer/mappagestyle.css' %}">
<script src="{% static 'mapViewer/map-script2.js' %}" defer></script>
{% endblock head %}

{% block content %}
<br>
<div id="content" class="body">
    {% if not hasReported %}
    <form action="{{ request.build_absolute_uri }}" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Send Report" id="input-submit">
    </form>
    {% else %}
    Your report has been received.
    {%endif%}
    {%if msg%}
    <br>{{msg}}<br>
    {%endif%}

    <h1>{{post.title}}</h1>
    <br>
    By {{post.author}}
    <br>
    {%for item in files%}
    {%if item.format == 0 %}
    <img src="{{item.file.url}}">
    <br>
    {%elif item.format == 1%}
    <video src="{{item.file.url}}">
    {%elif item.format == 2%}
    <audio src="{{item.file.url}}">
    {%endif%}
    {%endfor%}
    {{post.content}}
    <br>
    Tags:
    <br>
    {%for item in post.tags.all %}
    {{item.name}}
    <br>
    {%endfor%}
    
</div>

<script>
    var slideIndex = 1;
    showSlides(slideIndex);

    function plusSlides(n) {
        showSlides(slideIndex += n);
    }

    function currentSlide(n) {
        showSlides(slideIndex = n);
    }

    function showSlides(n) {
        var i;
        var slides = document.getElementsByClassName("mySlides");
        if (n > slides.length) {slideIndex = 1}
        if (n < 1) {slideIndex = slides.length}
        for (i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";
        }
        slides[slideIndex-1].style.display = "block";
    }
</script>

{% endblock content %}
