{% extends "base/base.html" %}
{% load static %}

{% block head %}
<title>Chesapeake Community Connect - Map</title>
<link rel="stylesheet" type="text/css" href="{% static 'mapViewer/mappagestyle.css' %}">
<script src="{% static '/map-script2.js' %}" defer></script>
{% endblock head %}

{% block content %}
<br>
<div id="content" class="body">
    {% if not hasReported %}
    <form action="{{ request.build_absolute_uri }}" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Send Report" id="input-submit">
    </form>
    {% else %}
    Your report has been received.
    {% endif %}

    <h1>{{ post.title }}</h1>
    <br>
    <p>By {{ post.author }}</p>
    <br>


    <!-- Slideshow HTML -->
    <div class="slideshow-container">
        {% for item in files %}
        <div class="mySlides fade">
            {% if item.format == 0 %}
            <img src="{{ item.file.url }}" style="width:100%">
            {% elif item.format == 1 %}
            <video width="100%" controls>
                <source src="{{ item.file.url }}" type="video/mp4">
                Your browser does not support the video tag.
            </video>
            {% elif item.format == 2 %}
            <audio controls>
                <source src="{{ item.file.url }}" type="audio/mpeg">
                Your browser does not support the audio element.
            </audio>
            {% endif %}
        </div>
        {% endfor %}
        
        <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
        <a class="next" onclick="plusSlides(1)">&#10095;</a>
    </div>
    <br>
    <div id="caption">
    
    </div>

    <p>{{ post.content }}</p>
    <br>
    <p>Tags:</p>
    <ul>
        {% for tag in post.tags.all %}
        <li>{{ tag.name }}</li>
        {% endfor %}
    </ul>
</div>

<script>
    var slideIndex = 1;
    showSlides(slideIndex);

    function plusSlides(n) {
        showSlides(slideIndex += n);
    }

    function currentSlide(n) {
        showSlides(slideIndex = n);
    }

    function showSlides(n) {
        var i;
        var slides = document.getElementsByClassName("mySlides");
        if (n > slides.length) {slideIndex = 1}
        if (n < 1) {slideIndex = slides.length}
        for (i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";
        }
        slides[slideIndex-1].style.display = "block";
    }
</script>

{% endblock content %}
